{{- if .Values.backend.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "valhafin.fullname" . }}-backend
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "valhafin.backend.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
    {{- if and .Values.monitoring.prometheusAnnotations.enabled .Values.monitoring.enabled }}
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: "/metrics"
    {{- end }}
spec:
  type: {{ .Values.backend.service.type }}
  ports:
    - port: {{ .Values.backend.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    {{- include "valhafin.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: backend
{{- end }}
