{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "valhafin.fullname" . }}-database
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "valhafin.database.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "valhafin.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: database
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              {{- include "valhafin.selectorLabels" . | nindent 14 }}
              app.kubernetes.io/component: backend
      ports:
        - protocol: TCP
          port: 5432
{{- end }}
