{{- if .Values.sealedSecrets.enabled }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ .Values.sealedSecrets.backend.name }}
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "valhafin.backend.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: {{ .Values.argocd.syncWave.sealedSecrets | quote }}
spec:
  encryptedData:
    ENCRYPTION_KEY: {{ .Values.sealedSecrets.backend.encryptedData.ENCRYPTION_KEY | quote }}
  template:
    type: Opaque
    metadata:
      name: {{ .Values.sealedSecrets.backend.name }}
      namespace: {{ .Values.global.namespace }}
      labels:
        {{- include "valhafin.backend.labels" . | nindent 8 }}
{{- end }}
