{{- if .Values.sealedSecrets.enabled }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ .Values.sealedSecrets.database.name }}
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "valhafin.database.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: {{ .Values.argocd.syncWave.sealedSecrets | quote }}
spec:
  encryptedData:
    POSTGRES_DB: {{ .Values.sealedSecrets.database.encryptedData.POSTGRES_DB | quote }}
    POSTGRES_USER: {{ .Values.sealedSecrets.database.encryptedData.POSTGRES_USER | quote }}
    POSTGRES_PASSWORD: {{ .Values.sealedSecrets.database.encryptedData.POSTGRES_PASSWORD | quote }}
  template:
    type: Opaque
    metadata:
      name: {{ .Values.sealedSecrets.database.name }}
      namespace: {{ .Values.global.namespace }}
      labels:
        {{- include "valhafin.database.labels" . | nindent 8 }}
{{- end }}
